*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body{
    background-color: #f4f4f4;
}
MAIn{
    width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}